body.sign-up {
    margin: 20px;
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    color: rgb(64, 158, 255);
    font-size: 14px;
    line-height: 1.4em;
}

body.sign-up a {
    color: rgb(64, 158, 255);
    margin: 0px;
}

body.sign-up p {
    margin-left: 5px;
    color: #a9a9a9;
    padding-left: 5px;
}

.sign-up .logo {
    max-width: 400px;
}

.sign-up .teaser-small {
    margin-top: 8%;
}

.sign-up .teaser-small,
.sign-up .dialog-header {
    text-align: center;
}

.sign-up label,
.sign-up .label {
    color: #a9a9a9;
    font-size: 14px;
}

.sign-up .value {
    margin-bottom: 15px
}

.sign-up #preamble form .part {
    margin-bottom: 20px;
}

.sign-up #tos-details,
.sign-up #private-details,
.sign-up #api-info {
    display: none;
}

.sign-up #preamble {
    width: 343px;
    margin-top: 20px;
}

.sign-up #api-workspace label p {
    display: inline-block;
    margin: 0px;
    margin-right: 15px;
}

.sign-up #api-workspace p {
    margin-left: 0px;
    padding-left: 0px;
}

.sign-up #page-header {
    text-align: center;
    margin-top: 4em;
}

.sign-up #page-header a {
    text-decoration: none;
}

.sign-up #page-footer {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    margin-top: 40px;
    font-size: small;
    color: #a9a9a9;
    text-align: center;
    position: relative;
}

.sign-up #preamble a,
.sign-up #page-footer a {
    text-decoration: none;
}

.sign-up #page-header img.webapp-logo {
    margin-top: 20px;
    margin-bottom: 40px;
}

.sign-up #page-header .project-title {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #a9a9a9;
    line-height: 1.5em;
}

.sign-up #page-footer .plus {
    font-size: 3em;
    font-weight: bold;
    color: #a9a9a9;
    position: relative;
    top: -60px;
    margin-right: 10px;
}

.sign-up #account-view,
.sign-up #receipt-view,
.sign-up #sign-up-view,
.sign-up #log-in-view {
    border-radius: 3px;
    text-align: center;
}

.sign-up #account-view form,
.sign-up #sign-up-view form,
.sign-up #log-in-view form {
    padding: 15px;
    position: relative;
}

.sign-up #account-view p {
    margin-left: 0px;
    padding-left: 0px;
}

.reset-page #sign-up-view,
.sign-up #log-in-view form {
    text-align: left;
}

.sign-up .dialog-body.login-view,
.sign-up #log-in-view {
    max-width: 320px;
}

.sign-up .dialog-body.login-view .hints {
    padding-left: .5em;
}

.reset-page #sign-up-view p {
    margin: 0px;
    padding: 0px;
}

.sign-up.account-page #page-header {
   background-color: rgb(237, 236, 236);
}

.sign-up.account-page #page-header,
.sign-up .dialog-body,
.sign-up #preamble,
.sign-up #api-workspace,
.sign-up #account-view {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
}

.sign-up #sign-up-view {
    max-width: 380px;
}

.sign-up #log-in-view form input[type="text"],
.sign-up #log-in-view form input[type="password"] {
    width: 90%;
}

.sign-up.reset-page #sign-up-view form input[type="text"] {
    width: 90%;
}

.sign-up #account-view form input[type="text"],
.sign-up #sign-up-view form input[type="text"],
.sign-up #sign-up-view form input[type="password"] {
    width: 85%;
}

.sign-up #account-view form input[type="checkbox"]
.sign-up #sign-up-view form input[type="checkbox"] {
    cursor: pointer;
}

.sign-up #receipt-view h2,
.sign-up #sign-up-view h2,
.sign-up #log-in-view h2 {
    text-align: center;
    color: #666;
    margin: 0 0 15px 0;
    /** font: normal 26px/1 Verdana, Helvetica; **/
    position: relative;
}

.sign-up input {
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.sign-up .dialog-body input[type="text"],
.sign-up .dialog-body input[type="password"] {
    width: 90%;
}

.sign-up input.ok {
    background-color: rgb(64, 158, 255);
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    display: inline-block;
}

.sign-up input[disabled] {
    background-color: rgba(99, 99, 99, 1.0);
}

.sign-up input.ok[disabled],
.sign-up input[type="text"][disabled] {
    color: #999;
    background-color: #fff;
    cursor: auto;
}

.sign-up #message {
    color: rgba(200, 0, 0, 1.0);
    line-height: 1.8em;
}

.sign-up #message-view {
    padding: 5px;
    margin-bottom: 10px;
    color: rgb(64, 158, 255);
}

.sign-up .warning {
    color: rgba(198, 0, 0, 1.0);
}

.logout-page .logout {
    text-align: center;
}

/** Webclient specific styles */

#sign-up-button {
    margin-right: 1em;
}

.ui-dialog .ui-dialog-content .password-reset {
    position: relative; top: 5px;
    font-size: .8em;
    color: gray;
}

.ui-dialog .ui-dialog-content .password-reset a {
    color: rgb(64, 158, 255);
}
