
body.log-in-page,
body.sign-up-page,
body.ok-page {
    margin: 20px;
    font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
    color: rgba(39, 99, 140, 1.0);
    font-size: 16px;
}

body.log-in-page a,
body.sign-up-page a,
body.ok-page a{
    color: rgba(39, 99, 140, 1.0);
    margin: 0px;
}

#sign-up-view,
#log-in-view {
    background-color: #fafafa;
    width: 360px;
    padding: 30px;
    margin: 100px auto 0 auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2);
}

#sign-up-view form,
#log-in-view form {
    margin: 0 5px;
    padding: 15px;
    position: relative;
}

#sign-up-view h2,
#log-in-view h2 {
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    /** font: normal 26px/1 Verdana, Helvetica; **/
    position: relative;
}

input.log-in,
input.sign-up {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

p,
label {
    margin-left: 5px;
    color: #a9a9a9;
    padding-left: 5px;
}

p {
    line-height: 1.2em;
}

input.log-in.ok,
input.sign-up.ok {
    margin-top: 20px;
    background-color: rgba(39, 99, 140, 1.0);
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    display: inline-block;
}

#message {
    margin-left: 5px;
    color: rgba(200, 0, 0, 1.0);
}

#message-view {
    padding: 5px;
    margin-bottom: 10px;
    color: rgba(39, 99, 140, 1.0);
}
