
body.log-in-page,
body.sign-up-page,
body.ok-page {
    margin: 20px;
    font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
    color: rgba(39, 99, 140, 1.0);
    font-size: 16px;
}

body.log-in-page a,
body.sign-up-page a,
body.ok-page a {
    color: rgba(39, 99, 140, 1.0);
    margin: 0px;
}

body.log-in-page p,
body.log-in-page label,
body.sign-up-page p,
body.sign-up-page label,
body.ok-page p,
body.ok-page label {
    margin-left: 5px;
    color: #a9a9a9;
    padding-left: 5px;
}

body.log-in-page p,
body.sign-up-page p,
body.ok-page p {
    line-height: 1.2em;
}

#account-info,
#private-info {
    display: none;
}

#pre-text {
    width: 400px;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#page-header {
    text-align: center;
    margin-top: 20px;
}

#page-header a {
    text-decoration: none;
}

#page-footer {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    margin-top: 40px;
    font-size: small;
    color: #a9a9a9;
    text-align: center;
    position: relative;
}

#pre-text a,
#page-footer a {
    text-decoration: none;
}

#page-header img.webapp-logo {
    margin-top: 20px;
    margin-bottom: 40px;
}

#page-header .project-title {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #a9a9a9;
}

#page-footer .plus {
    font-size: 3em;
    font-weight: bold;
    color: #a9a9a9;
    position: relative;
    top: -60px;
    margin-right: 10px;
}

#receipt-view,
#sign-up-view,
#log-in-view {
    background-color: #fafafa;
    width: 380px;
    padding: 30px;
    margin: 30px auto 0 auto;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, .2);
}

#sign-up-view form,
#log-in-view form {
    margin: 0 5px;
    padding: 15px;
    position: relative;
}

#receipt-view h2,
#sign-up-view h2,
#log-in-view h2 {
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    /** font: normal 26px/1 Verdana, Helvetica; **/
    position: relative;
}

input.log-in,
input.sign-up {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #555;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

input.log-in.ok,
input.sign-up.ok {
    margin-top: 20px;
    background-color: rgba(39, 99, 140, 1.0);
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    display: inline-block;
}

input[disabled] {
    background-color: rgba(99, 99, 99, 1.0);
}

#message {
    color: rgba(200, 0, 0, 1.0);
    line-height: 1.8em;
}

#message-view {
    padding: 5px;
    margin-bottom: 10px;
    color: rgba(39, 99, 140, 1.0);
}
