<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account confirmation - ' + ${title}">Account Confirmation</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ui page detail ok-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment">
                <div class="ui container">
            
                    <div id="receipt-view" class="dialog-body">
                        <h2 th:text="${requested_page_title}">You've got mail</h2>
                        <p>
                            <span th:text="${requested_page_1}">We sent you an Email for confirmation.</span><br/><br/>
                            <span th:text="${requested_page_2}">Please click on the link you find in the Email within the next 60 minutes.</span><br/>
                        </p>
                        <p th:text="${requested_page_3}">
                            Thank you and have a nice day!
                        </p>
                        <!-- p>
                           Do show a configurable href here so we allow navigation back to the frontpage while they
                           confirm their mailbox.
                        </p-->
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer-new"></div>
            
        </div>

    </body>

</html>
