<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="${title}">DeepaMehta 4 Account Confirmation</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ok-page">
        
        <div id="page-header">
            <a href="/de.deepamehta.webclient" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="receipt-view">
            <h2>You've got mail</h2>
            <p>
                We sent you an E-Mail for confirmation.<br/><br/>
                Please click on the confirmation link you find in the E-Mail within the next 60 minutes.<br/>
            </p>
            <p>
                We wish you a nice day!
            </p>
        </div>
    </body>

</html>
