<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account creation failed - ' + ${title}">Account creation failed</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ok-page sign-up">
        
        <div id="page-header">
            <a th:href="${home_url}" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="receipt-view" class="dialog-body">
            <h2 th:text="${message}"></h2>
            <p>
                <span th:text="${account_failure_message}">Your user account could not be</span>&nbsp;<span th:text="${status_label}">created</span>.
                <br/><br/>
                <span th:text="${please_try_1}">Please</span>&nbsp;<a href="/sign-up/" th:text="${please_try_2}">try</a>&nbsp;<span th:text="${please_try_3}">again.</span>
            </p>
        </div>

    </body>

</html>
