<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account creation failed - ' + ${title}">Account creation failed</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ok-page sign-up">
        
        <div id="page-header">
            <a href="/de.deepamehta.webclient/" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="receipt-view">
            <h2 th:text="${message}"></h2>
            <p>
                Your user account could not be created.
                <br/><br/>
                Please <a href="/sign-up/">sign up</a> again.
            </p>
        </div>

        <div class="stats">
            <img src="http://stats.infokitchen.net/piwik.php?idsite=6&amp;rec=1&amp;action_name=failure" style="border:0" alt="" />
        </div>

    </body>

</html>
