<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account creation failed - ' + ${title}">Account creation failed</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ui page detail ok-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment">
                <div class="ui container">

                    <div id="receipt-view" class="dialog-body">
                        <h2 th:text="${message}"></h2>
                        <p>
                            <span th:text="${account_failure_message}">Your user account could not be</span>&nbsp;<span th:text="${status_label}">created</span>.
                            <br/><br/>
                            <span th:text="${please_try_1}">Please</span>&nbsp;<a href="/sign-up/" th:text="${please_try_2}">try</a>&nbsp;<span th:text="${please_try_3}">again.</span>
                        </p>
                    </div>

                </div>
            </div>

            <div th:replace="fragments/footer :: footer-new"></div>

        </div>

    </body>

</html>
