<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Log in - ' + ${title}">Log in</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script type="text/javascript" src="/systems.dmx.sign-up/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/systems.dmx.sign-up/script/sign-up.js" />
        <script th:inline="javascript">
        /*<![CDATA[*/
            signupConfig.appLoadingMessage = /*[[${loading_app_hint}]]*/ 'Loading Webclient';
            signupConfig.appStartPageURL = /*[[${start_url}]]*/ '/';
            signupConfig.passwordLength = /*[[${password_length_hint}]]*/ "Your password must be at least 8 characters long.";
            signupConfig.passwordMatch = /*[[${password_match_hint}]]*/ "Your passwords do not match.";
            signupConfig.checkTerms = /*[[${check_terms_hint}]]*/ "First, please check our terms and conditions.";
            signupConfig.usernameInvalid = /*[[${username_invalid_hint}]]*/ "This username would be invalid.";
            signupConfig.usernameTaken = /*[[${username_taken_hint}]]*/ "This username is already taken.";
            signupConfig.emailInvalid = /*[[${email_invalid_hint}]]*/ "This Email Address would be invalid.";
            signupConfig.emailTaken = /*[[${email_taken_hint}]]*/ "This E-Mail address is already registered.";
            signupConfig.notAuthorized = /*[[${not_authorized_message}]]*/ "You're not authorized. Sorry.";
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ui page detail log-in-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment first  dialog-header">
                <h3>Login</h3>
            </div>

            <div class="ui vertical padded segment blue2bg">
                <div class="ui container">

                    <div id="log-in-view" class="dialog-body">
                        <!--h2 th:text="${login_title}">Log in</h2-->
                        <form class="log-in-form ui form" id="login-form" action="javascript:voidFunction();" onsubmit="javascript:doLogin()">
                            <div class="ui input">
                                <input id="username" type="text" name="username" th:placeholder="${label_username}" title="Username" class="log-in sign-up username" />
                                <input type="password" id="password" name="password" th:placeholder="${label_password}" title="Password" class="log-in sign-up password" />
                            </div>
                            <div id="message-view"><span id="message"></span></div>
                            <!-- &nbsp;<span th:text="${or_label}">or</span> <a href="/sign-up/" th:text="${create_account}" >create account</a>. -->
                            <!--p class="password-reset">
                                <span th:text="${label_forgot_password}" title="Forgot your password?">Forgot your password?</span><br/>
                                <a href="/sign-up/request-password" title="Reset password" th:text="${label_reset_password}">Password reset</a>
                            </p-->
                        </form>

                        <div class="ui input">
                            <input type="submit" form="login-form" th:value="${login}" class="log-in sign-up ok ui button" />
                        </div>

                    </div>

                </div>
            </div>

            <div class="ui vertical padded segment">

                <div class="dialog-body ui container login-view">

                    <div class="hints">

                        <div class="hints">
                          <p>
                            <b th:text="${signup_title}">Sie haben noch keinen Account</b><b>?</b><br/>
                              <a href="/sign-up/" th:text="${create_account}" ></a>
                          </p>
                          <p>
                              <b th:text="${label_forgot_password}">Sie haben Ihr Passwort vergessen?</b><br/>
                              <a href="/sign-up/request-password" title="Reset password" th:text="${label_reset_password}">Password reset</a>
                          </p>
                      </div>

                    </div>

                </div>

            </div>

            <!--div th:replace="fragments/footer :: footer-new"></div-->

        </div>

    </body>

    <noscript>
            Without JavaScript we can not authenticate you, sorry.
    </noscript>

</html>
