<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>DeepaMehta 4 Log in</title>
        <link rel="stylesheet" href="/org.deepamehta.sign-up/style/style.css" type="text/css" />
        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
    </head>

    <body class="log-in-page">

        <div id="page-header">
            <img src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="deepamehta-logo"
                title="DeepaMehta 4 Logo" alt="DeepaMehta 4 Logo" />
        </div>

        <div id="log-in-view">
            <h2>Log in</h2>
            <form class="log-in-form" action="javascript:doLogin()">
                <!-- label for="username">Username</label-->
                <input id="username" type="text" name="username" placeholder="Username" class="log-in username" />
                <!-- label for="password">Password</label-->
                <input type="password" id="password" name="password" placeholder="Password" class="log-in password" />
                <div id="message-view"><span id="message"></span></div>
                <input type="submit" value="Ok" class="log-in ok" /> or <a href="/sign-up/">create an account</a>.
            </form>
        </div>
        
    </body>

	<noscript>
		Without JavaScript we can not authenticate you, sorry.
	</noscript>

</html>
