<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Log in - ' + ${title}">Log in</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
        <script th:inline="javascript">
        /*<![CDATA[*/
            signupConfig.appLoadingMessage = /*[[${loading_app_hint}]]*/ 'Loading Webclient';
            signupConfig.appStartPageURL = /*[[${start_url}]]*/ '/';
        /*]]>*/
        </script>
    </head>

    <body class="log-in-page sign-up">

        <div id="page-header">
            <a th:href="${home_url}" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        <div id="log-in-view">
            <h2>Log in</h2>
            <form class="log-in-form" action="javascript:voidFunction();" onsubmit="javascript:doLogin()">
                <!-- label for="username">Username</label-->
                <input id="username" type="text" name="username" placeholder="Username" class="log-in username" />
                <!-- label for="password">Password</label-->
                <input type="password" id="password" name="password" placeholder="Password" class="log-in password" />
                <div id="message-view"><span id="message"></span></div>
                <input type="submit" value="Ok" class="log-in ok" /> or <a href="/sign-up/">create an account</a>.
            </form>
        </div>

        <div id="page-footer" th:utext="${footer}">
        </div>

        <div class="stats">
            <img src="//stats.infokitchen.net/piwik.php?idsite=6&amp;rec=1&amp;action_name=login" style="border:0" alt="" />
        </div>

    </body>

    <noscript>
            Without JavaScript we can not authenticate you, sorry.
    </noscript>

</html>
