<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Logout - ' + ${title}">Log in</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
        <script th:inline="javascript">
        /*<![CDATA[*/
            signupConfig.appLoggingOutHint = /*[[${logging_out_hint}]]*/ 'Logging out..';
            signupConfig.appHomePageURL = /*[[${home_url}]]*/ '/';
        /*]]>*/
        </script>
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ui page detail logout-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment first">
                <h2>Kiezatlas Logout</h2>
            </div>

            <div class="ui vertical padded segment blue2bg">
                <div class="ui container">

                    <div class="logout dialog-body">
                        <div id="message-view">
                            <span th:text="${logged_in_as}">Eingelogged als </span>&nbsp;<span th:text="${username}" id="message"></span>
                        </div>
                        <form class="logout-form" action="javascript:doLogout()">
                            <input type="submit" th:value="${logout}" class="ok ui button red sign-up" />
                        </form>
                    </div>

                </div>
            </div>

            <div th:replace="fragments/footer :: footer-new"></div>

        </div>

    </body>

    <noscript>
            Without JavaScript we can not authenticate you, sorry.
    </noscript>

</html>
