<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account created - ' + ${title}">Account Created</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ok-page">
        
        <div id="page-header">
            <a href="/de.deepamehta.webclient/" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="receipt-view">
            <h2>Account creation complete</h2>
            <p>
                We completed your sign-up request and successfully created a new user account for you.<br/><br/>
                Your username is <em th:text="${username}"></em> and you can now <a href="/sign-up/login">log in</a>.
            </p>
        </div>

        <div class="stats">
            <img src="http://stats.infokitchen.net/piwik.php?idsite=6&amp;rec=1&amp;action_name=confirmed" style="border:0" alt="" />
        </div>

    </body>

</html>
