<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Password updated - ' + ${title}">Password updated</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ui page detail ok-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />
        
            <div class="ui container vertical padded segment">
                <div class="ui container">
            
                    <div id="receipt-view" class="dialog-body">
                        <h2>OK</h2>
                        <p>
                            <span th:text="${password_reset_ok_message}">We completed your password reset request and you should be able to</span>&nbsp;<a href="/sign-up/login" th:text="${log_in_small}">log in</a>.
                        </p>
                        <!-- p>
                           Do show a configurable href here so we can pint our freshest user to a kind of "starting" page.
                        </p-->
                    </div>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer-new"></div>

        </div>

    </body>

</html>
