<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Updated Password - ' + ${title}">Updated Password</title>
        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="ok-page sign-up">
        
        <div id="page-header">
            <a th:href="${home_url}" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="sign-up-view" class="dialog-body" th:if="${!#strings.isEmpty(requested_username)}">
            <h2 th:text="${password_requested_title} + ' ' + ${requested_username}">New Password</h2>
            <form class="sign-up-form" action="javascript:voidFunction();" onsubmit="javascript:updatePassword();">
                <input type="hidden" id="token-info" th:value="${token}" />
                <!-- label for="pass-one">Password</label-->
                <input type="password" id="pass-one" name="pass-one" th:placeholder="${label_password}"
                       onchange="checkPassword()" class="sign-up password" />
                <!-- label for="pass-two">Password (Repeat)</label-->
                <input type="password" id="pass-two" name="pass-two" th:placeholder="${label_password_repeat}"
                       onchange="comparePasswords()" class="sign-up password" />
                <div id="message-view"><span id="message"></span></div>
                <input type="submit" id="create" value="Ok" class="sign-up ok" />&nbsp;<span th:text="${or_label}">or</span> <a href="/sign-up/login" th:text="${log_in_small}">log in</a>.
            </form>
        </div>

        <div id="sign-up-view" class="dialog-body" th:if="${#strings.isEmpty(requested_username)}">
            <h2>Not authorized to use the password reset functionality.</h2>
        </div>

    </body>

</html>
