<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account creation pending - ' + ${title}">Account creation pending</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ui page detail ok-page sign-up">

        <div class="navigation">
            <div class="top-menu" th:include="fragments/navigation :: top-menu (publisher=${is_publisher})"></div>
        </div>

        <div class="ui vertical left menu sidebar" th:include="fragments/navigation :: vertical (publisher=${is_publisher})"></div>

        <div class="ui pusher">

            <!-- Teaser Area -->
            <div th:replace="fragments/widgets :: teaser-small" />

            <div class="ui container vertical padded segment">
                <div class="ui container">
            
                    <div id="receipt-view" class="dialog-body">
                        <h2>Account creation pending</h2>
                        <p>
                            We processed your sign-up request and successfully created a new user account for you.<br/><br/>
                            However, your account needs to be manually <em>enabled</em> through an administrator of
                            this service. This may take 1 or 2 days.<br/><br/>You'll receive an Email notification as soon
                            as your account is active and ready to use.
                        </p>
                    </div>

                </div>
            </div>

            <div th:replace="fragments/footer :: footer-new"></div>

        </div>

    </body>

</html>
