<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Account creation pending - ' + ${title}">Account creation pending</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
    </head>

    <body class="ok-page sign-up">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div id="page-header">
            <a th:href="${home_url}" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>
        
        <div id="receipt-view" class="dialog-body">
            <h2>Account creation pending</h2>
            <p>
                We processed your sign-up request and successfully created a new user account for you.<br/><br/>
                However, your account needs to be manually <em>enabled</em> through an administrator of
                this service. This may take 1 or 2 days.<br/><br/>You'll receive an Email notification as soon
                as your account is active and ready to use.
            </p>
        </div>

    </body>

</html>
