<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title>Sign-up Password Reset</title>
        <link rel="stylesheet" th:href="${css_path}" type="text/css" />
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
        <meta th:replace="fragments/tracker" />
    </head>

    <body class="reset-page sign-up">

        <div class="top-menu" th:include="fragments/navigation :: top (publisher=${is_publisher})"></div>

        <div id="page-header">
            <a th:href="${home_url}" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>

        <div id="sign-up-view" class="dialog-body">
            <h2 th:text="${label_reset_password}">Password Reset</h2>
            <form class="sign-up-form" action="javascript:voidFunction();" onsubmit="javascript:resetPassword();">
                <p class="label" th:text="${info_reset_password}">
                    Please enter the email address you registered with. <em>If</em> we can relate it to a user account you will receive an email with a link to reset your password.
                </p>
                <br/><input type="text" id="mailbox" name="mailbox" th:placeholder="${label_email}" class="sign-up mailbox" />
                <div id="message-view"><span id="message"></span></div>
                <input type="submit" id="reset" value="Ok" class="sign-up ok"/>
                <p class="password-reset">
                    <a href="/sign-up/login" th:text="${login}">Login</a><br/>
                    <a href="/sign-up" th:text="${create_account}">Create an account</a><br/>
                </p>
            </form>
        </div>

        <div id="page-footer" th:utext="${footer}">
        </div>

    </body>

    <noscript>
        Without JavaScript we can not check if your desired username or mailbox is already in use. This means we cannot check in advance
        if your chosen password meets our requirements (minimum of 8 characters).
        Thus, your account creation may just fail. Thanks for your understanding.
    </noscript>

</html>
