<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8"></meta>
        <title th:text="'Sign up - ' + ${title}">Sign up</title>
        <link rel="stylesheet"  th:href="${css_path}" type="text/css" />
        <script type="text/javascript" src="/de.deepamehta.accesscontrol/script/vendor/sha256.js"></script>
        <script type="text/javascript" src="/org.deepamehta.sign-up/script/sign-up.js" />
    </head>

    <body class="sign-up-page">

        <div id="page-header">
            <a href="/de.deepamehta.webclient" title="Launch DeepaMehta 4 Webclient" th:title="${title}">
                <img th:src="${logo_path}" src="/org.deepamehta.sign-up/images/deepamehta-logo.png" class="webapp-logo"
                    th:title="${title} + ' Logo'" th:alt="${title} + ' Logo'" width="160" /><br/>
                <span class="project-title" th:title="'Click to Launch ' + ${title}" th:text="${title}">DeepaMehta Webclient</span>
            </a>
        </div>

        <div id="pre-text">
            <form name="aggreement" action="javascript:void();">
                <input id="toscheck" type="checkbox" onclick="javascript:checkAgreements()" class="tos-check"></input>
                <label for="toscheck" th:text="${tos_label}">I agree with the projects Terms of use.</label>
                <a href="javascript:showLabsTermsText()" title="Read Details">Read more</a><br/>
                <div id="account-info" th:utext="${tos_details}">
                </div>
                <input id="privateinfo" type="checkbox" onclick="javascript:checkAgreements()" class="private-info-check"></input>
                <label for="privateinfo" th:text="${pd_label}">I understand that any private information I give to this site may be made publicly available.</label>
                <a href="javascript:showLabsPrivateText()" title="Read Details">Read more</a><br/>
                <div id="private-info" th:utext="${pd_details}">
                </div>
            </form>
        </div>

        <div id="sign-up-view">
            <h2>Sign up</h2>
            <form class="sign-up-form" action="javascript:void();" onsubmit="javascript:createAccount()">
                <!-- label for="username">Username</label-->
                <input id="username" type="text" name="username" placeholder="Username"
                       onchange="checkUserNameAvailability()" class="sign-up username" />
                <!-- label for="pass-one">Password</label-->
                <input type="password" id="pass-one" name="pass-one" placeholder="Password"
                       onchange="checkPassword()" class="sign-up password" />
                <!-- label for="pass-two">Password (Repeat)</label-->
                <input type="password" id="pass-two" name="pass-two" placeholder="Password (Repeat)"
                       onchange="comparePasswords()" class="sign-up password" />
                <!-- label for="mailbox">Mailbox</label-->
                <input type="text" id="mailbox" name="mailbox" placeholder="E-Mail Address"
                       onchange="checkMailboxAvailability()" class="sign-up mailbox" />
                <div id="message-view"><span id="message"></span></div>
                <input type="submit" id="create" value="Create account" class="sign-up ok" /> or <a href="/sign-up/login">log in</a>.
                <!-- or sign up with <a href="/sign-on/openid/google">Google</a>. -->
            </form>
        </div>

        <div id="page-footer" th:utext="${footer}">
        </div>

        <div class="stats">
            <img src="http://stats.infokitchen.net/piwik.php?idsite=6&amp;rec=1&amp;action_name=signup" style="border:0" alt="" />
        </div>

    </body>

    <noscript>
        Without JavaScript we can not check if your desired username is already taken and we cannot check in advance
        if your chosen password meets our requirements (minimum of 8 characters).
        Thus, your account creation may just silently fail. Thanks for your understanding.
    </noscript>

</html>
